/* Ajustes sobre Bootstrap */

body {
    background-color: #f8f9fa; /* Gris muy suave típico de Bootstrap */
}

.card-img-top {
    height: 200px;
    object-fit: cover; /* Esto evita que las imágenes se deformen */
    background-color: #eee;
}

/* Transición suave al pasar el mouse por las tarjetas */
.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #0d6efd; /* Azul Bootstrap */
}

/* Ajuste del scroll del carrito */
#items-carrito::-webkit-scrollbar {
    width: 8px;
}
#items-carrito::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}